streamlit>=1.30.0
pandas<2.2.0 
# atau biarkan kosong agar PyCaret 3.3.2 yang menentukan versi Pandas, 
# tapi memberi batasan atas yang sesuai dengan PyCaret mungkin lebih aman.
# Anda bisa coba juga tanpa batasan versi Pandas sama sekali terlebih dahulu.
numpy>=1.26.0 
scikit-learn>=1.3.0 
xgboost>=2.0.0
pycaret==3.3.2
ipywidgets>=8.0.0
